/* src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.App {
  background-color: #B5C2CA; /* Cor de fundo azul clara */
  min-height: 100vh; /* Altura mínima da página */
  position: relative; /* Para que a sidebar possa flutuar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-left: 0px; /* Espaço para a sidebar */
  padding: 0px; /* Espaçamento interno do conteúdo */
}
